@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --bg-primary: #fff;
  --bg-secondary: #000;
  --text-primary-light: #000;
  --text-secondary-light: #737373;
  --border-light: rgba(219, 219, 219);
  --border-dark: rgba(38, 38, 38);
  --text-primary-dark: #f5f5f5;
  --text-secondary-dark: #a8a8a8;
  --link-primary-light: #00376b;
  --link-primary-dark: #e0f1ff;
  --lightblue: #0095f6;
  --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.15);

  /* Dynamic theme variables */
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --border: var(--border-light);
  --link-primary: var(--link-primary-light);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.ant-layout-sider {
  max-width: 240px !important;
  min-width: 240px !important;
  width: 240px !important;
  transition: background-color 0.3s ease !important;
}
[data-theme="light"] .ant-menu-root.ant-menu {
  border: none !important;
}
.ant-menu-item {
  display: flex !important;
  align-items: center !important;
}
.ant-layout-sider-children {
  display: flex !important;
  flex-direction: column !important;
}

.ant-menu-item-selected {
  background-color: none !important;
}

/* Dark theme styles */
[data-theme="dark"] .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Light theme styles */
[data-theme="light"] .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: #000;
}

/* Bold text for selected menu item */
.ant-menu-item-selected .ant-menu-title-content {
  font-weight: 700 !important;
}

/* Custom hover background for active item */
[data-theme="dark"] .ant-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

[data-theme="light"] .ant-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.ant-modal-content{
  padding: 0 !important;
}

[data-theme="dark"] .ant-modal-content{
  background: #000;
}

[data-theme="dark"] .ant-drawer-close,
[data-theme="dark"] .ant-drawer-close:hover{
  color: #fff !important;
}

[data-theme="light"] .ant-drawer-close,
[data-theme="light"] .ant-drawer-close:hover{
  color: #262626 !important;
}




/* Add smooth transitions */
.ant-menu,
.ant-menu-item,
.ant-layout,
.ant-layout-sider,
.ant-layout-content
.ant-modal {
  transition: all 0.3s ease !important;
}


